@import './colores';
@mixin sizes($hancho, $alto) {
    height: $alto;
    width: $hancho;
}
@mixin textos($text-aling, $color-fondo){
    text-align: $text-aling;
    background-color: $color-fondo;
}
@mixin margin($auto1, $auto2){
    margin-left: auto;
    margin-right: auto;
}