@import url('https://fonts.googleapis.com/css2? family= Macondo & family= Patrick+Hand & family= Marcador+permanente & display=swap');
.bg-green {
    background-color: rgba(128, 255, 149, 0.75);
}
body{
    background-image: url(../imagenes/background/blancomate.jpg);
    background-attachment: fixed;
}
nav {
    background-color: rgba(128, 255, 149, 0.75);
    font-size: 2rem;
    position: sticky;
    top:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

    nav ul li a {
        text-decoration: none;
        font-family: 'Macondo', cursive;
        color: #368A0F;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        margin: 20px;
    }

    nav ul li a:hover   {
        font-weight: 600;
    }

   .d-block{   
        height: 60vh;
    }
    .rowpy-2 {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4,1fr);
            gap: 2em;
            align-items: stretch;
            margin: auto;
            padding: 60px;
            column-gap: .5rem;
            row-gap: .5rem;
    }
    .titulo-cards   {
        font-family: 'Macondo', cursive;
    }
    .textoicon  {
        font-family: 'Macondo', cursive;
    }

    /*galeria*/
    .titulo-galeria {
        font-family: 'Macondo', cursive;
        text-align: center;

    }
    .trabajo{
        width: 100%;
    }
    .trabajo img {
        width: 100%;
    }
    .contenedortrabajo{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: .5rem;
        row-gap: .5rem; 
    }
    .imagennosotros {
        width: 100%;
    }
    .imagennosotros img{
        width: 100%;
    }
    .galeria{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: .5rem;
        row-gap: .5rem; 
    }
    
    .redes{
        background-image: url(../imagenes/background/verdeoscuro.jpg);
        background-attachment: fixed;
    }